##Today we will begin our journey of exploring the Python Programming Language!

### Different ways of writing Python Code

1. Open a Google Colab or Kaggle Notebook, start typing your code, and run the cells.

2. Install Python, a text editor, and run the code in CMD/Power-shell.

3. Install an environment - like Anaconda, or Microsoft Visual Studio Code, code and run within it. 

4. Install Jupyter Notebooks only, write code and run the cells.

In [ ]:
# First Code Snippet to run!

print('Hello, World!')

Hello, World!

In [ ]:
# Commenting Code and Variables

# Create a set of variables for storing my info.

my_name = 'Aditi'
my_dob = '13-09-1867'
my_height = 'five feets two inches'

# Create a set of variables for storing planet info.
# Get your planet info here: https://solarsystem.nasa.gov/planets/overview/

planet_name = 'Mars'
planet_age = '4.603 billion years old'
planet_index = 3 # 0, 1, 2, 3

# Can variable names start with a number? 

1_final = 'final_document.pdf' # apparently no.

SyntaxError: ignored

### White Spaces and Indentation

Python does not use `;` to separate lines of code. 

So propoer indentation is only ensured by providing white spaces.

In [ ]:
my_new_var = 3
my_newer_var = 4 # error: unexpected indentation

IndentationError: ignored

### Basic Data Types: Strings, Constants, Boolean, Numbers

In [ ]:
# print strings

my_name

print(my_name)
print(my_dob)
print(my_height)

NameError: ignored

In [ ]:
# Format Strings

print('There are 8 number of planets in our solar system.')

# print the same thing by using format strings for variables with different values
number_of_planets = 8
x = f'There are {number_of_planets} number of planets in our solar system.'
print(x)

# Planets beyond our Solar System: https://exoplanets.nasa.gov/
number_of_planets = 5044
x = f'There are {number_of_planets} number of planets in all solar systems.'
print(x)

There are 8 number of planets in our solar system.
There are 8 number of planets in our solar system.
There are 5044 number of planets in all solar systems.

In [ ]:
# Another way of using format strings

my_planet = 'Jupiter'
biggest_planet = 'This is the name of the biggest planet? {}'

print(biggest_planet.format(my_planet))

In [ ]:
# String Concatenation

w = 'Earth is the only planet with life'
e = 'may be not! :)'

print(w + e)

Earth is the only planet with lifemay be not! :)

In [ ]:
# Constants: Python doesnâ€™t support them!
# use all CAPS in the variable name to remember it's a constant!

FILE_SIZE_LIMIT = 2000

To represent true and false, Python provides you with the boolean data type. 

The boolean value has a technical name as bool.

The boolean data type has two values: True and False.

In [ ]:
print(20 > 10)
print('z' > 'g')

True
True

In [ ]:
is_active = True # False
print(is_active)

True

In [ ]:
print(bool(20))
print(bool(0))
print(bool(1))
print(bool('info'))
print(bool(''))

True
False
True
True
False

In [ ]:
# Bool On Advanced Data Structures in Python
print(bool({}))
print(bool([]))
print(bool(()))

False
False
False

Numbers - Integers and Floats

In [ ]:
print(20+10)
print(20/10)
print(20//10)

print(20/3)
print(1+2.5)
print(1-2.5)
print(2.5-2.5)
print(2-2)

30
2.0
2
6.666666666666667
3.5
-1.5
0.0
0

#### Type Conversion

In [ ]:
# floating to integer

c = 1-2.5
c

In [ ]:
int(c)

In [ ]:
# string to integers and floats

a = '30'
b = '25'

print(a + b)
print(int(a) + int(b))
print(float(a) + float(b))

3025
55
55.0

In [ ]:
# number or string to bool

a = '-456023334512864'
print(bool(a))

b = -456023334512864
print(bool(b))

True
True

In [ ]:
e = b**2
print(e)

s_e = str(e)
s_e**2 # cant apply exponent operator after converting to string!

NameError: ignored

In [ ]:
# Getting the type of a value

type(100)

In [ ]:
type(10.4)

In [ ]:
print(type('hi there!'))
print(type(True))

<class 'str'>
<class 'bool'>

In [ ]:
z = False
type(z)

bool

#### Getting Input from a User

In [ ]:
value = input('Enter a value:')
print(value)

In [ ]:
print("How old are you?", end = ' ') # end is used to specify how to end the printed content
age = input()

How old are you?lol22

In [ ]:
print(f'So you are {age} years old')

So you are 22 years old

In [ ]:
y = input("Name? ")
age = input("Age? ")
height = input("Height? ")
weight = input("Weight? ")

Name? awww
Age? gfgd
Height? jk
Weight? hjb

#### Operators in Python

1. Arithmetic operators: `+, -, *, /, %, **, //`

2. Assignment operators: `=, +=, -=, *=, /=, %=, **=, //=, &=, |=, ^=, >>=, <<=`

3. Comparison operators: `==, !=, >, <, >=, <=`

4. Logical operators: `and, or, not`

5. Identity operators: `is, is not`

6. Membership operators: `in, not in`

7. Bitwise operators: `&, |, ^, ~, <<, >>`

In [ ]:
# Arithmetic Operators

x = 10 / 3
print(x)

x = 10 // 3
print(x)

x = 10 % 3
print(x)

x = 10 ** 3
print(x)

3.3333333333333335
3
1
1000

In [ ]:
# Assignment Operators

x = 5

x &= 3
x

1

In [ ]:
x = 5

x |= 3
x

7

In [ ]:
x = 5

x ^= 3
x

6

In [ ]:
x = 5
x >>= 1
print(x)

x = 5
x >>= 2
print(x)

x = 5
x >>= 3
print(x)

2
1
0

In [ ]:
# Comparison Operators

print(3 != 3)

print(3 != 7)

print('a' != 'b')

False
True
True

In [ ]:
# Logical Operators

x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [ ]:
x = 5

print(x > 6 or x < 10)
print(x > 6 or x < 1)

print(not(x > 6))

True
False
True

In [ ]:
# Identity Operators

x = ["Artificial", "Intelligence"]
y = ["Artificial", "Intelligence"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [ ]:
# Membership Operators

x = ["pear", "plum"]

print("pineapple" in x)

print("plum" in x)

print("pineapple" not in x)

False
True
True

In [ ]:
# Bitwise Operators - for binary operations

a = 10

b = 4

print(a & b)
print(a | b)
print(~ a)

print(a ^ b)
print(a << b)
print(a >> b)

0
14
-11
14
160
0

number1
ek aur do2

'12'

## Time for some quick questions! Are you ready?

**Q1.** *What will be the output for the following code,*         
```
a = input("Enter the value for a:- ")            
b = input("Enter the value for b:- ")               
print(a + b)
```                     

*Assume that user will input a as 1 and b as 9*

**A)** 10         
**B)** 19       
**C)** 1+9          
**D)** Syntax Error

**Q2.** *Write a code with membership operator to check if "Astrophysics" is present in the `interest` list mentioned below,*

`interest = ["Astronomy", "Astrophysics", "Deep Learning", "Football"]`

In [ ]:
interest = ['Astronomy', 'Astrophysics', 'Deep Learning', 'Football']

print('Astrophysics' in interest)

True

**Q3.** *We looked at % operator a while ago. What would a % b mean?*    

**A)** It divides a by b and converts the answer into percentage  
**B)** It yields the reaminder from the division of a by b     
**C)** It rounds off a upto b decimal places           
**D)** It compares a with b as in which value is bigger

In [ ]:
33 % 3

0

**Q4.** *Write a code using `%` and `==` operators to check if 2 and 3 are even and odd numbers respectively*

**Q5.** *How many mistakes can you spot in the following code?*        



```
a, b, c = 2, 4, 1                
D = b^2 - 4ac                   
 print(f"For a = {a}, b = {b}, and c = {c}, \nDiscriminant = {D}")
```

       

*Can you fix these errors? Code it out:- *

In [ ]:
a, b, c = 2, 4, 1 

D = b ** 2 - 4 * a * c 

print(f'For a = {a}, b = {b}, and c = {c}, \n Discriminant = {D}')

For a = 2, b = 4, and c = 1,
 Discriminant = 8

# Thank you for completing all the questions!