### Today we will explore the Amazing Data Structures of Python!

In Python, list is an ordered collection of items. 

It is defined using square brackets `[]`.

In [ ]:
my_languages = ['Python', 'JAVA', 'R', 'Julia', 'Lua']

In [ ]:
print(my_languages)

['Python', 'JAVA', 'R', 'Julia', 'Lua']

In [ ]:
my_marks = [88, 91, 100]

my_coords = [[0, 0], [100, 100], [200, 200]]

print(my_coords)

[[0, 0], [100, 100], [200, 200]]

In [ ]:
# Access elements of a list - even with negative indices

print(my_marks[0])
print(my_marks[-1])
print(my_marks[-2])

88
100
91

In [ ]:
# Modifying a list

my_marks[-1] = 99

print(my_marks)

[88, 91, 99]

In [ ]:
# Add new elements to lists - append() for end of list

my_marks.append(65)

print(my_marks)

[88, 91, 100, 65]

In [ ]:
# Add new elements to lists - insert() for any position

my_marks.insert(1, 95)

print(my_marks)

[88, 95, 100]

In [ ]:
# Remove elements from lists - any position

del my_marks[3]

print(my_marks)

[88, 100, 91, 65]

In [ ]:
# Remove elements from lists - last position

print(my_marks.pop())
print(my_marks)

# Typically, you use the pop() method when you want to remove an element from a list and still want to access the value of that element.

100
[88, 95]

In [ ]:
# Remove elements from lists - by value

my_marks.remove(95)
print(my_marks)

[88]

#### Tuple - Immutable lists

In [ ]:
healthy_food_choices = ('oats', 'chicken', 'veggies')

print(healthy_food_choices[0])

oats

In [ ]:
healthy_food_choices[1] = 'brown rice'

TypeError: ignored

In [ ]:
# You can't change one element, but you can assign a full tuple to a tuple var!

healthy_food_choices = ('eggs', 'quinoa', 'veggies')

print(healthy_food_choices[1])
print(healthy_food_choices)

quinoa
('eggs', 'quinoa', 'veggies')

In [ ]:
# Another way to use tuples!
numbers = (3,)
print(type(numbers))

<class 'tuple'>

In [ ]:
numbers = (300, 600, 800)
print(numbers[-1])

800

#### sort() function on lists - to sort in-place.

In [ ]:
my_marks = [80, 91, 78, 100, 87]

print(my_marks)
my_marks.sort()
print(my_marks)

[80, 91, 78, 100, 87]
[78, 80, 87, 91, 100]

In [ ]:
my_students = ['Shubham', 'Atharv', 'Prasad', 'Ahaan', 'Selva', 'Prateek', 'Deena']
my_students.sort()
print(my_students)

['Ahaan', 'Atharv', 'Deena', 'Prasad', 'Prateek', 'Selva', 'Shubham']

In [ ]:
my_students.sort(reverse=True)
print(my_students)

['Shubham', 'Selva', 'Prateek', 'Prasad', 'Deena', 'Atharv', 'Ahaan']

In [ ]:
companies = [('Meta', 2021, 150.6),
             ('Apple', 2019, 102.8),
             ('Netflix', 2020, 95.6)]

companies.sort()
print(companies)

companies.sort(reverse=True)
print(companies) # default sorting happens as per 1st value of tuple

[('Apple', 2019, 102.8), ('Meta', 2021, 150.6), ('Netflix', 2020, 95.6)]
[('Netflix', 2020, 95.6), ('Meta', 2021, 150.6), ('Apple', 2019, 102.8)]

In [ ]:
# what if you want to sort by a parameter set by you? 

def sort_key(company):
    return company[2]

companies.sort(key=sort_key)
print(companies)

companies.sort(key=sort_key, reverse=True)
print(companies)

[('Netflix', 2020, 95.6), ('Apple', 2019, 102.8), ('Meta', 2021, 150.6)]
[('Meta', 2021, 150.6), ('Apple', 2019, 102.8), ('Netflix', 2020, 95.6)]

In [ ]:
companies = [('Meta', 2021, 150.6),
             ('Apple', 2019, 102.8),
             ('Netflix', 2020, 95.6)]

companies.sort(key=lambda company: company[2])
print(companies)

companies.sort(key=sort_key, reverse=True)
print(companies)

[('Netflix', 2020, 95.6), ('Apple', 2019, 102.8), ('Meta', 2021, 150.6)]
[('Meta', 2021, 150.6), ('Apple', 2019, 102.8), ('Netflix', 2020, 95.6)]

In [ ]:
# To return the new sorted list from the original list, you use the sorted() function:

# The original list does not change here!

my_students = ['Shubham', 'Atharv', 'Prasad', 'Ahaan', 'Selva', 'Prateek', 'Deena']
my_sorted_students = sorted(my_students)

print(my_students)
print(my_sorted_students)

['Shubham', 'Atharv', 'Prasad', 'Ahaan', 'Selva', 'Prateek', 'Deena']
['Ahaan', 'Atharv', 'Deena', 'Prasad', 'Prateek', 'Selva', 'Shubham']

In [ ]:
my_students = ['Shubham', 'Atharv', 'Prasad', 'Ahaan', 'Selva', 'Prateek', 'Deena']
my_sorted_students_desc = sorted(my_students, reverse=True)

print(my_students)
print(my_sorted_students_desc)

['Shubham', 'Atharv', 'Prasad', 'Ahaan', 'Selva', 'Prateek', 'Deena']
['Shubham', 'Selva', 'Prateek', 'Prasad', 'Deena', 'Atharv', 'Ahaan']

#### Slicing lists

In [ ]:
# list[begin: end: step]

flowers = ['tulip', 'rose', 'lily', 'iris', 'daisy', 'orchid', 'jasmine', 'poppy', 'ivy', 'violet', 'holly', 'heather']

chosen_flowers = flowers[2:5]
print(chosen_flowers)

chosen_flowers_new = flowers[2:13:3]
print(chosen_flowers_new)

['lily', 'iris', 'daisy']
['lily', 'orchid', 'ivy', 'heather']

In [ ]:
# To get the n-first elements from a list, you omit the begin argument: list[:n]

print(flowers[:5])

# this is actually equivalent to

print(flowers[0:5])

['tulip', 'rose', 'lily', 'iris', 'daisy']
['tulip', 'rose', 'lily', 'iris', 'daisy']

In [ ]:
# To return a sublist that includes every nth element:

flowers[::2]

['tulip', 'lily', 'daisy', 'jasmine', 'ivy', 'holly']

In [ ]:
# Using Python List slice to reverse a list

reversed_flowers = flowers[::-1]
print(reversed_flowers)

# When you use a negative step, the slice includes the list elements starting from the last element to the first element. 

reversed_flowers = flowers[::-2]
print(reversed_flowers)

['heather', 'holly', 'violet', 'ivy', 'poppy', 'jasmine', 'orchid', 'daisy', 'iris', 'lily', 'rose', 'tulip']
['heather', 'violet', 'poppy', 'orchid', 'iris', 'rose']

In [ ]:
# Using Python List slice to substitute part a list

flowers[0:2] = ['dahlia', 'peony']
print(flowers)

['dahlia', 'peony', 'lily', 'iris', 'daisy', 'orchid', 'jasmine', 'poppy', 'ivy', 'violet', 'holly', 'heather']

In [ ]:
# Using Python List slice to partially replace and resize a list

flowers[0:2] = ['hyacinth', 'lila', 'yolanda']
print(flowers)

['hyacinth', 'lila', 'yolanda', 'sage', 'yolanda', 'lily', 'iris', 'daisy', 'orchid', 'jasmine', 'poppy', 'ivy', 'violet', 'holly', 'heather']

In [ ]:
flowers[0:2] = ['sage']
print(flowers)

# 0 to 2 flowers got replaced with sage

['sage', 'yolanda', 'sage', 'yolanda', 'lily', 'iris', 'daisy', 'orchid', 'jasmine', 'poppy', 'ivy', 'violet', 'holly', 'heather']

In [ ]:
del flowers[5:7]
print(flowers)

['sage', 'yolanda', 'sage', 'yolanda', 'lily', 'orchid', 'jasmine', 'poppy', 'ivy', 'violet', 'holly', 'heather']

## Time for some questions!

**Q1.** *Write at max 2 lines of code (excluding lines used for commenting) to,*
  - *Crate a list of first ten positive integers*
  - *Cube only the odd numbers from that list*
  - *The output of the code should result into:*           
```
1^3 = 1
3^3 = 27
5^3 = 125
7^3 = 343
9^3 = 729
```

In [ ]:
# Code here

**Q2.** *What will be the output of the code below,*
```
nums = [[1, 2, 3, 4, 5, 6], 
        [7, 8, 9, 10, 11, 12], 
        [13, 14, 15, 16, 17, 18]]

for i in range(len(nums)):
  if i < 2:
    print(nums[i][::2])
  else:
    print(nums[i][::-2])
```
**A)**           
[1, 3, 5]             
[7, 9, 11]           
[18, 16, 14]          

**B)**          
[5, 3, 1]      
[11, 9, 7]        
[14, 16, 18]

**C)**              
[1, 2, 3, 4, 5, 6]        
[13, 14, 15, 16, 17, 18]       

**D)**           
[1, 2, 3]      
[13, 14, 15]       
[18, 17, 16]

In [ ]:
# Print your answer
print("")

**Q3** Which of the following is an invalid list

**A)** [1,2,'abc',1+5j, 3.14] 

**B)** [ [ (1,2),9 ] , ('m','n','o') ]

**C)** list("Student")

**D)** All are Valid.

In [ ]:
# print the output
print()

**Q4** What will be the output of the following.


```
arr = [[11, 12, 13, 14],
       [44, 55, 66, 87],
       [81, 91, 10, 111],
       [56, 16, 17, 89]]

for _ in range(3):
    print(arr[_].pop())
```

In [ ]:
# print the output 

print()