### Today we will look at Control Flow, and Functions!

### Control Flow in Python

In [ ]:
for index in range(5):
    print(index)

0
1
2
3
4

In [ ]:
# range(start, stop, step)

for index in range(0, 11, 2):
    print(index)

0
2
4
6
8
10

1. Use the if statement when you want to run a code block based on a condition.
2. Use the if...else statement when you want to run another code block if the   condition is not True.
3. Use the if...elif...else statement when you want to check multiple conditions and run the corresponding code block that follows the condition that evaluates to True.

In [ ]:
# break: used to terminate a for loop or a while loop prematurely.

for index in range(0, 10):
    print(index)
    if index == 3:
        break

0
1
2
3

In [ ]:
# when used in a nested loop, break terminates the innermost loop
for x in range(5):
    for y in range(5):
        # terminates the innermost loop
        if y > 1:  
            break
        # shows coordinates on the screen
        print(f"({x},{y})")

(0,0)
(0,1)
(1,0)
(1,1)
(2,0)
(2,1)
(3,0)
(3,1)
(4,0)
(4,1)

In [ ]:
# using break inside while

print('-- Help: type quit to exit --')
while True:
    color = input('Enter your favorite color:')
    if color.lower() == 'quit':
        break

-- Help: type quit to exit --
Enter your favorite color:orange
Enter your favorite color:blue
Enter your favorite color:quit

In [ ]:
# The continue statement skips the current iteration and starts the next one.

for index in range(10):
    if index % 2:
        continue
    print(index)

0
2
4
6
8

In [ ]:
# continue inside while

index = 0
while index < 10:
    index += 1

    if not index % 2:
        continue

    print(index)

1
3
5
7
9

In [ ]:
# The pass statement is a statement that does nothing. 
# It’s just a placeholder for the code that you’ll write in the future.

if index < 80:
    pass

for i in range(1,100):
    pass

while index < 100:
    pass

def fn():
    pass

KeyboardInterrupt: ignored

### Functions!

To avoid rewriting the same code.

Default Parameters

1. Use Python default parameters to simplify the function calls.
2. Place default parameters after the non-default parameters.

In [ ]:
# default parameters

def greet():
  return 'Hi'

greet()

'Hi'

In [ ]:
def greet(name):
  return f'Hi, {name}'

greet('Rohan')

'Hi, Rohan'

In [ ]:
def greet(name, message='Hey!'):
    return f'{message} {name}'

greet('Rohan')
greet('Yash')
greet('Aman')

'Hey! Aman'

In [ ]:
def greet(name, message='Hey', question='Did you attend the last session?'):
    return f'{message} {name}, {question}'

greet('Rohan')

'Hey Rohan, Did you attend the last session?'

In [ ]:
# keyword arguments

def get_net_price(price, discount):
    return price * (1-discount)

In [ ]:
net_price = get_net_price(100, 0.1)
print(net_price)

90.0

In [ ]:
# what happens now?

net_price = get_net_price(0.1, 100)
print(net_price)

# we passed arguments in the wrong order!

-9.9

By using the keyword argument syntax, you don’t need to specify the arguments in the same order as defined in the function.

`fn(parameter2=value2,parameter1=value1)`

In [ ]:
net_price = get_net_price(price=100, discount=0.1)
print(net_price)

90.0

In [ ]:
net_price = get_net_price(discount=0.1, price=100)
print(net_price)

90.0

In [ ]:
# Note that you can call a function by mixing positional and keyword arguments. 

net_price = get_net_price(100, discount=0.1)
print(net_price)

90.0

In [ ]:
# Keyword arguments and default parameters

def get_net_price(price, tax=0.07, discount=0.05):
    return price * (1 + tax - discount)

In [ ]:
net_price = get_net_price(100)
print(net_price)

102.0

In [ ]:
# Once you use a keyword argument, you need to use keyword arguments for the remaining parameters.
net_price = get_net_price(100, tax=0.08, 0.06)

SyntaxError: ignored

In [ ]:
# To fix this, you need to use the keyword argument for the third argument like this:
net_price = get_net_price(100, tax=0.08, discount=0.06)
print(net_price)

102.0

#### Recursive functions

In [ ]:
# let's write a function to count down before a rocket launch!

def count_down(start):
    """ Count down from a number  """
    print(start)

In [ ]:
count_down(3)

3

In [ ]:
count_down(3)
count_down(2)
count_down(1)

3
2
1

In [ ]:
# let's use recursion to make this function call itself
def count_down(start):
    """ Count down from a number  """
    print(start)
    count_down(start-1)


count_down(3)

In [ ]:
# Since you need to stop counting down the number reaches zero, you add a condition like this:

def count_down(start):
    """ Count down from a number  """
    print(start)

    # call the count_down if the next
    # number is greater than 0
    next = start - 1
    if next > 0:
        count_down(next)


count_down(3)

3
2
1

## Get ready for some quick questions!

**Q1.** *Which of the following code would give [6, 8, 10] as its output?*       
**A)**
```
num = [i for i in range(0,11,2) if i >=  6]
print(num)
```          
**B)** 
```
num = [i for i in range(0,10,2) if i >=  6]
print(num)
```         
**C)** 
```
num = [if i >=  6 i for i in range(0,11,2)]
print(num)
```            
**D)**
```
num = [if i >=  6 i for i in range(0,10,2)]
print(num)
```

In [ ]:
num = [if i >=  6 i for i in range(0,11,2)]
num

SyntaxError: ignored

In [ ]:
num = [i for i in range(0,11,2) if i >=  6]
num

[6, 8, 10]

In [ ]:
# print the output 

print()

**Q2.** *What will be the output of the following code?*        
```
for letter in 'Spartificial':
  if 'i' in letter:
    pass
  print(letter , end = "")
```        

**A)** Spartfcal            
**B)** Spartficial        
**C)** Spartificial          
**D)** Spartfcial

In [ ]:
for letter in 'Spartificial':
  if 'i' in letter:
    pass
  print(letter , end = "")

Spartificial

In [ ]:
# print the output 

print()

**Q3.** *What will the code below print?*
```
for num_1 in range(7, -1, -1):
  for num_2 in range(2, num_1):
    if num_1 % num_2 == 1:
      print(num_1, end = " ")
      break
```
**A)** 7 6 5 4 3        
**B)** 7 6 5 4 3 2 1 0 -1       
**C)** 7 6 5 4 3 2 1 0           
**D)** -1 0 1 2 3 4 5 6

In [ ]:
for num_1 in range(7, -1, -1):
  for num_2 in range(2, num_1):
    if num_1 % num_2 == 1:
      print(num_1, end = " ")
      break

7 6 5 4 3

In [ ]:
# print the output 

print()

**Q4.** *What will be the output of the code,*
```
num1 = 6
num2 = 3

if (0 <= num1 <= 10) and (0 <= num2 <= 10):
  if num1 > num2:
    print(f"{num1} > {num2}")
  else:
    print(f"{num2} > {num1}")
```
**A)** True        
**B)** False        
**C)** 6        
**D)** 6 > 3

In [ ]:
# print the output 

num1 = 6
num2 = 3

if (0 <= num1 <= 10) and (0 <= num2 <= 10):
  if num1 > num2:
    print(f"{num1} > {num2}")
  else:
    print(f"{num2} > {num1}")

6 > 3

**Q5.** *What would be the output for Line 1, Line 2 and Line 3 in the code given below,*
```
def func(num):
  if (type(num) != int) or num < 0:
    raise Exception("This function only accepts a positive integer as an input!")
  else:
    sum = 0
    for i in range(1, num+1):
      sum += i
    return sum

sum1 = func(10)    # Line 1
sum2 = func(-10)   # Line 2
sum3 = func(9.5)   # Line 3
```

In [ ]:
def func(num):
  if (type(num) != int) or num < 0:
    raise Exception("This function only accepts a positive integer as an input!")
  else:
    sum = 0
    for i in range(1, num+1):
      sum += i
    return sum

sum1 = func(10)    # Line 1
print(sum1)
#sum2 = func(-10)
#print(sum2)

55

In [ ]:
# print the output 

#for sum1
print()

#for sum2
print()

#for sum3
print()

**Q4)** *Write a code to create a calculator which would calculate the sum of first n terms of Arithmetic Progression(AP) or Geometric Progression(GP)*
  - *User must be asked to choose if progression is AP or GP*
  - *If AP, ask for first term, common difference, number of terms*
  - *If GP, ask for first term, common ratio, number of terms*
  - *Calculate sum of first n terms from the information provided by the user*
  - *Calculator should only work if progression chosen is either AP or GP*        

**Hint:-** *It will use a lot of if and else statements*

In [ ]:
# write your code here